body,
html {
	font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

.prompt {
	font-size: 0.9em;
	text-align: center;
}

.error {
	color: rgb(212, 41, 41);
	font-weight: 600;
	padding: 5px 10px;
	text-align: center;
}

.success {
	color: rgb(19, 145, 57);
	font-weight: 600;
	padding: 5px 10px;
	text-align: center;
}

.user-form {
	display: block;
	margin: auto;
	background-color: white;
	width: 600px;
	margin: auto;
	border: 1px solid rgb(172, 172, 172);
	padding: 20px;
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgb(117, 117, 117);
}

.user-form input,
.user-form select {
	box-sizing: border-box;
	display: inline-block;
	padding: 5px 10px;
	width: 208px;
	margin: 7px 0 0 0;
}

.user-form select.sm {
	width: 98px;
}

.user-form label {
	display: inline-block;
	width: 150px;
}

.user-form span {
	display: inline-block;
	width: 4px;
}

.user-form fieldset {
	display: block;
	position: relative;
	margin: 0 0 20px 0;
	font-size: 0.9em;
	line-height: 30px;
	border: 1px solid rgb(196, 196, 196);
	border-radius: 3px;
}

fieldset legend {
	font-weight: 600;
}

.user-form input[type="submit"] {
	width: 100px;
	cursor: pointer;
}
